.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous,
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    width: 49%;

    @include sm {
        width: 100%;
    }
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.comment-content {
    a {
        word-wrap: break-word;
    }

    &.card-block {
        padding: 20px;
    }
}

.bypostauthor {
    display: block;
}

.comment-body {
    .pull-left {
        padding-right: 0.625rem;
    }
}

.comment-list {
    padding-left: 0;

    .comment {
        display: block;
    }

    .pingback {
        border-top: 1px solid rgba(0, 0, 0, 0.125);
        padding: 0.563rem 0;

        &:first-child {
            border: medium none;
        }
    }
}


.navigation {
    &.post-navigation {
        padding-top: 1.875rem;

        .nav-previous a,
        .nav-next a {
            display: inline-flex;
            align-items: center;
            column-gap: 1rem;
            text-decoration: none;
        }

        .nav-next a::after {
            content: " \e409";
            font-family: $material-icons;
        }

        .nav-previous a::before {
            content: "\e408";
            font-family: $material-icons;
        }
    }

}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}


.page-template-blank-page .entry-content,
.blank-page-with-container .entry-content {
    margin-top: 0;
}

.post {
    .hentry {
        margin-bottom: 4rem;
    }

    .entry-content {
        a {
            text-decoration: underline;
            font-weight: 600;
        }
    }
}

.posted-on,
.byline,
.comments-link {
    color: #9a9a9a;
}

.entry-title>a {
    color: inherit;
}
