// main: ../main.scss
// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

// Set up a decent box model on the root element

html {
    box-sizing: border-box;
    font-size: 10px;
}

// Make all elements from the DOM inherit from the parent box-sizing
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: $white;
}

// Basic styles for links

a {
    color: $brand-color;
    text-decoration: none;

    @include on-event {
        color: $text-color;
        text-decoration: underline;
    }

    img {
        &.alignright {
            float: right;
            margin: 0.313rem 0 1.25rem 1.25rem;
        }

        &.alignnone {
            margin: 0.313rem 1.25rem 1.25rem 0;
        }

        &.alignleft {
            float: left;
            margin: 0.313rem 1.25rem 1.25rem 0;
        }

        &.aligncenter {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}


img {
    height: auto;
    max-width: 100%;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

textarea {
    &.form-control {
        font-size: 1.6rem;
        padding: 2rem;
    }
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

.wp-caption {
    background: #f1f1f1 none repeat scroll 0 0;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 0.313rem 0.313rem 0;
    text-align: center;

    img[class*="wp-image-"] {
        border: 0 none;
        height: auto;
        margin: 0;
        max-width: 100%;
        padding: 0;
        width: auto;
    }

    .wp-caption-text {
        font-size: 1.2rem;
        line-height: 1.3em;
        margin: 0;
        padding: 0.8rem;
    }

    &.alignnone {
        margin: 0.313rem 1.25rem 1.25rem 0;
    }

    &.alignleft {
        margin: 0.313rem 1.25rem 1.25rem 0;
    }

    &.alignright {
        margin: 0.313rem 0 1.25rem 1.25rem;
    }
}

.wp-caption-text {
    text-align: center;
}


.sticky {
    .entry-title {
        position: relative;

        &::before {
            content: '\f08d';
            font-family: "Font Awesome\ 5 Free";
            font-size: 1.8rem;
            left: -2.5rem;
            position: absolute;
            top: 0.375rem;
            font-weight: 900;
        }
    }
}

#content[tabindex="-1"]:focus {
    outline: 0;
}

#content.site-content {
    padding-bottom: 4rem;
    padding-top: 5rem;

    min-height: calc(100vh - 115px);
}


code, kbd, samp {
    font-family: $firacode;
}

code {
    background: $light-blue;
    color: $dark-blue;
}

blockquote {
    background: $light-blue;
    padding: 1.5rem;
    color: $dark-blue;

    p {
        color: $dark-blue;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

figcaption {
    text-align: center;
    font-style: italic;
}
