// main: ../main.scss
// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
    color: $text-color;
    background-color: $white;

    &#colophon {
        font-size: 85%;
        color: $white;
        background-color: $dark-blue;
    }
}

.site-info {
    .material-symbols-outlined {
        font-size: 1.2rem;
    }
    
}

.copyright {
    font-size: 1.4rem;
    margin-bottom: 0;
    text-align: center;
}

.copyright a,
footer#colophon a {
    color: inherit;
}

#footer-widget {
    background-color: $light-grey;
    padding: 2rem;
}
