aside {
    &#secondary {
        padding-left: 2.5rem;

        @include md {
            padding-left: 0.75rem;
            border-top: 1px solid $dark-blue;
            margin-top: 3rem;
            padding-top: 3rem;
        }
    }
}

.wp-block-latest-comments {
    padding-left: 0;

    li {
        margin-bottom: 0.5rem;
        
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
